* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

h1 {
    font-size: 3em;
    margin-top: 1px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

#endGamePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f9fb;
    padding: 1.25rem;
    border-radius: 0.625rem;
    color: black;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
    width: 70%;
    max-width: 37.5rem;
    min-width: 18.75rem;
}

#popup button {
    margin: 0.3125rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #152853;
    color: white;
    font-size: 1.875rem;
}

h1 {
    margin: 20px 0;
}

button {
    font-family: 'BeerMoney', sans-serif;
    background-color: #fff;
    border: 0.125rem solid #e48b16;
    margin-bottom: 0.625rem;
    padding: 0.625rem 1.25rem;
    font-size: 1.25rem;
    cursor: pointer;
}

#enemyCounterContainer {
    font-family: 'BeerMoney', sans-serif;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    margin-bottom: 0.625rem;
}

canvas {
    width: 80vw;
    height: 90vh;
    border: 0.125rem solid white;
    background-image: url("../images/bg_2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0.625rem;
}

@media (max-width: 600px) {
    canvas {
        aspect-ratio: 4 / 7;
    }
}

#pauseButton {
    font-family: 'BeerMoney', sans-serif;
    margin-right: 0.625rem;
    padding: 0.3125rem 0.625rem;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 0.125rem solid #addc22;
    border-radius: 0.3125rem;
    transition: background-color 0.3s;
}

#pauseButton:hover {
    background-color: #99b350;
}

#pauseModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1009;
}

#pauseModal.hidden {
    display: none;
}

#pauseModal .modal-content {
    background: white;
    color: black;
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
    box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.5);
}

.pause-modal-content {
    text-align: center;
    font-size: 1.875rem;
    color: #addc22;
}

.pauseWindowButton {
    display: block;
    width: 12.5rem;
    margin: 0.625rem auto;
    padding: 0.625rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.pauseWindowButton:hover {
    background-color: #99b350;
}

#gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 1.25rem;
}

.arrowButton {
    width: 3.125rem;
    height: 3.125rem;
    background-color: #fff;
    color: #000;
    font-size: 1.25rem;
    border: 0.0625rem solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.arrowButton:hover {
    background-color: #ddd;
}

#leftArrow {
    margin-right: 0.625rem;
}

#rightArrow {
    margin-left: 0.625rem;
}

#popup img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 1.25rem auto;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
    background-color: #fff;
    padding: 0.625rem;
}

.win-icon {
    background-color: #2ebc2e !important;
}

.lose-icon {
    background-color: #f43737 !important;
}

#endGamePopup img {
    max-width: 50%;
    height: auto;
    margin-bottom: 0.625rem;
}

#endGamePopup p {
    font-size: 1.2em;
    text-align: center;
    margin: 0.625rem 0;
}

#endGamePopup button {
    padding: 0.625rem 1.25rem;
    font-size: 1em;
    border: none;
    background-color: #f00;
    color: #fff;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.fireworks {
    position: fixed;
    top: 5%;
    transform: translateY(-50%);
    width: 30vw;
    height: 30vw;
    background: url("../images/fireworks_3.gif") center center no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: 9999;
}

.fireworks-left {
    left: 30%;
}

.fireworks-right {
    right: 30%;
}

@media (max-width: 600px) {
    #endGamePopup {
        width: 80%;
        padding: 15px;
    }

    #endGamePopup p {
        font-size: 14px;
    }

    #endGamePopup button {
        font-size: 0.8em;
        padding: 6px 12px;
    }

    #endGamePopup img {
        max-width: 80%;
        margin: 10px auto;
    }

    .fireworks {
        width: 80vw;
        height: 80vw;
        top: 10%;
    }

    .fireworks-left {
        left: 70%;
    }

    .fireworks-right {
        right: 70%;
    }
}

@media (max-width: 768px) {
    .arrowButton {
        display: none;
    }
}

@media (min-width: 1024px) {
    .fireworks {
        width: 120vw;
        height: 120vh;
    }
}

@font-face {
    font-family: 'Arizonia';
    src: url('../fonts/Arizonia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BeerMoney';
    src: url('../fonts/beer money.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TMVinogradRegular';
    src: url('../fonts/TMVinograd-Regular.ttf') format('truetype'),
    url('../fonts/TMVinograd-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TMVinogradOblique';
    src: url('../fonts/TMVinograd-Oblique.ttf') format('truetype'),
    url('../fonts/TMVinograd-Oblique.otf') format('opentype');
    font-weight: normal;
    font-style: oblique;
}

h1 {
    font-family: 'TMVinogradOblique', sans-serif;
}

p {
    font-family: 'BeerMoney', sans-serif;
}

h2 {
    font-family: 'Arizonia', sans-serif;
}

i {
    font-family: 'TMVinogradOblique', sans-serif;
}
