* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

h1 {
    font-size: 3em;
    margin-top: 1px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

#endGamePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f9fb;
    padding: 20px;
    border-radius: 10px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
    width: 70%; /* Адаптивная ширина */
    max-width: 600px; /* Максимальная ширина */
    min-width: 300px; /* Минимальная ширина */

}

#popup button {
    margin: 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #152853;
    color: white;
    font-size: 30px;
}

h1 {
    margin: 20px 0;
}

button {
    font-family:'BeerMoney', sans-serif;
    background-color: #fff;
    border: 2px solid #e48b16;

    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

#enemyCounterContainer {
    font-family:'BeerMoney', sans-serif;

    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

canvas {
    width: 80vw;
    height: 90vh;
    border: 2px solid white;
    background-image: url("../images/bg_2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}


@media (max-width: 600px) {
    canvas {
        aspect-ratio: 4 / 7;
    }
}

#pauseButton {
    font-family:'BeerMoney', sans-serif;

    margin-right: 10px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 2px solid #addc22;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#pauseButton:hover {
    background-color: #99b350;

}

#pauseModal {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1009;
}

#pauseModal.hidden {
    display: none;
}

#pauseModal .modal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.pause-modal-content {
    text-align: center;
    font-size: 30px;
    color: #addc22;


}

.pauseWindowButton {

    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.pauseWindowButton:hover {
    background-color: #99b350;
}

#gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.arrowButton {
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.arrowButton:hover {
    background-color: #ddd;
}

#leftArrow {
    margin-right: 10px;
}

#rightArrow {
    margin-left: 10px;
}
#popup img {
    display: block; /* Центрирует изображение внутри контейнера */
    max-width: 50%; /* Ограничивает ширину изображения */
    height: auto; /* Сохраняет пропорции изображения */
    margin: 20px auto; /* Добавляет отступы сверху и снизу, выравнивает по центру */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Добавляет тень вокруг изображения */
    background-color: #fff; /* Цвет фона за изображением */
    padding: 10px; /* Внутренний отступ для создания эффекта рамки */
}
/* Иконка победы */
.win-icon {
    background-color: #2ebc2e !important;
}

.lose-icon {
    background-color: #f43737 !important;
}

#endGamePopup img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

#endGamePopup p {
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0;
}

#endGamePopup button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: #f00;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.fireworks {
    position: fixed; /* Фиксированное позиционирование */
    top: 5%; /* Центр по вертикали */
    transform: translateY(-50%); /* Сдвиг для вертикального центрирования */
    width: 30vw; /* Размер фейерверка */
    height: 30vw; /* Пропорции фейерверка */
    background: url("../images/fireworks_3.gif") center center no-repeat;
    background-size: contain; /* Масштабируем изображение */
    pointer-events: none; /* Не мешаем кликам */
    z-index: 9999; /* Максимальный индекс слоя */
}
/* Салют слева */
.fireworks-left {
    left: 30%; /* Располагаем слева */
}

/* Салют справа */
.fireworks-right {
    right: 30%; /* Располагаем справа */
}
@media (max-width: 600px) {
    #endGamePopup {
        width: 80%; /* Увеличиваем ширину окна на маленьких экранах */
        padding: 15px; /* Уменьшаем внутренние отступы */
    }

    #endGamePopup p {
        font-size: 14px; /* Ещё уменьшаем размер текста */
    }

    #endGamePopup button {
        font-size: 0.8em; /* Ещё уменьшаем размер кнопок */
        padding: 6px 12px; /* Уменьшаем отступы в кнопках */
    }

    #endGamePopup img {
        max-width: 80%; /* Увеличиваем относительный размер изображения */
        margin: 10px auto; /* Уменьшаем отступы */
    }
    .fireworks {
        width: 80vw; /* Уменьшаем ширину фейерверка */
        height: 80vw; /* Уменьшаем высоту фейерверка */
        top: 10%; /* Сдвигаем ближе к верхней части экрана */
    }

    .fireworks-left {
        left: 70%; /* Располагаем ближе к центру экрана */
    }

    .fireworks-right {
        right: 70%; /* Располагаем ближе к центру экрана */
    }
}

@media (max-width: 768px) {
    .arrowButton {
        display: none;
    }
}
@media (min-width: 1024px) {
    .fireworks {
        width: 120vw; /* Увеличиваем ширину до 120% экрана */
        height: 120vh; /* Увеличиваем высоту до 120% экрана */
    }
}

/* Подключаем Arizonia-Regular */
@font-face {
    font-family: 'Arizonia';
    src: url('../fonts/Arizonia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BeerMoney';
    src: url('../fonts/beer money.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TMVinogradRegular';
    src: url('../fonts/TMVinograd-Regular.ttf') format('truetype'),
    url('../fonts/TMVinograd-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TMVinogradOblique';
    src: url('../fonts/TMVinograd-Oblique.ttf') format('truetype'),
    url('../fonts/TMVinograd-Oblique.otf') format('opentype');
    font-weight: normal;
    font-style: oblique;
}

h1 {
    font-family: 'TMVinogradOblique', sans-serif;
}

p {
    font-family: 'BeerMoney', sans-serif;
}

h2 {
    font-family: 'Arizonia', sans-serif;
}

i {
    font-family: 'TMVinogradOblique', sans-serif;
}